@css {
	/*
		Description: Hoja de estilos de la página de Transforma | Cosecha de agua
		Version: 1.0
		*/
}

/* <---------- Funciones Stylus ----------> */

@import "valoresDefault.styl"

// colores
casiblanco = #F2F2F2
grisMedio = #808080
elColor = #2075AD
el_color = #141414
fondo = #fff
resaltado = #F7AA45
links = #515151
f__familia = cooper
f__uno = 16px

azul_uno = #819FCA
azul_dos = #2074AD
azul_tres = #005186
cafe_uno = #A85C19
cafe_dos = #713628
cafe_tres = #4C2012

amenaza = #E12027
vulnerabilidad = #F37621
mitigacion = #0C89DE

// duración hamburguesa
duration = .3s;

// Fuente íconos de interfaz

@font-face
	font-family: 'interactivo';
	src:url('fuentes/interactivo.eot?d901pp');
	src:url('fuentes/interactivo.eot?#iefixd901pp') format('embedded-opentype'), url('fuentes/interactivo.woff?d901pp') format('woff'), url('fuentes/interactivo.ttf?d901pp') format('truetype'), url('fuentes/interactivo.svg?d901pp#interactivo') format('svg');
	font-weight: normal;
	font-style: normal;

@font-face
	font-family: 'cooper';
	src: url('../assets/fuentes/cooperhewitt-book-webfont.eot');
	src: url('../assets/fuentes/cooperhewitt-book-webfont.eot?#iefix') format('embedded-opentype'),url('../assets/fuentes/cooperhewitt-book-webfont.woff2') format('woff2'),url('../assets/fuentes/cooperhewitt-book-webfont.woff') format('woff'),url('../assets/fuentes/cooperhewitt-book-webfont.ttf') format('truetype'),url('../assets/fuentes/cooperhewitt-book-webfont.svg#cooper_hewittbook') format('svg');
	font-weight: normal;
	font-style: normal;

@font-face 
	font-family: 'cooper_bold';
	src: url('../assets/fuentes/cooperhewitt-bold-webfont.eot');
	src: url('../assets/fuentes/cooperhewitt-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fuentes/cooperhewitt-bold-webfont.woff2') format('woff2'), url('../assets/fuentes/cooperhewitt-bold-webfont.woff') format('woff'), url('../assets/fuentes/cooperhewitt-bold-webfont.ttf') format('truetype'), url('../assets/fuentes/cooperhewitt-bold-webfont.svg#cooper_hewittbold') format('svg');
	font-weight: normal;
	font-style: normal;


/* <---------- Secciones semánticas ----------> */

*
	box-sizing: border-box;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure
	border 0
	font-family inherit
	font-size 100%
	font-style inherit
	font-weight inherit
	margin 0
	outline 0
	padding 0
	vertical-align top
:focus
	outline 0

::-moz-selection
	background #fe57a1
	color #fff
	text-shadow none

::selection
	background #fe57a1
	color #fff
	text-shadow none

a 
	text-decoration none
	img
		border 0
	&:focus, &:active, &:hover
		text-decoration underline

blockquote, q
	quotes "" ""
	&:before, &:after
		content ""

body
	bg casiblanco
	font f__uno f__familia
	inter 1.2em
	width 100%

button
	border none
	background none
	cursor pointer !important
	font f__uno f__familia

caption, th, td
	font-weight normal
	text-align left

canvas
	background: url(../assets/imgs/mapa_todo.jpg) no-repeat center center
	background-size contain
	margin 0 auto
	position relative
	z-index 2

em
	italic()

fieldset
	border none

h1
	fsize 5.5rem
	inter 1em
	margin-bottom 0.2em

h2
	fsize 4.75rem

h3
	fsize 4rem

h4
	fsize 1.875rem

html
	overflow hidden
	font-size 100%
	font f__uno f__familia
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
		
ol, ul
	list-style none

strong
	font-family cooper_bold

svg:not(:root)
	overflow: hidden;

table
	border-collapse separate
	border-spacing 0

video
	height 100vh
	width 100vw

[class^="int-"],
[class*=" int-"]
	font-family: 'interactivo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

/* <---------- ID's ----------> */

#debug_ipad
	bg rgba(255,255,255,0.2)
	position fixed
	display block
	left 0
	bottom 0
	z-index 99
	height 20%
	width 50%

.secciones
	// overflow hidden
	// absolute()
	block()
	// height 100vh
	// height unquote(' calc( 100% - 40px ) ')
	left 0
	width 100vw
	*zoom: 1

#menu
	absolute()
	bg casiblanco
	// block()
	hide()
	height 100%
	overflow auto
	top 0
	width 315px
	&.visible
		sombra rgba(0,0,0,1) 0px 0px 15px
		z-index 30
	a,
	button
		color el_color
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		&:hover,
		&:focus,
		&:active
			-webkit-animation: pop 0.3s ease 1;
			animation: pop 0.3s ease 1;
		&:after
			background: #bcbcbc;
			content: '';
			height: 101%;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 50%;
			width: 0;
			z-index: -1;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
			-webkit-transform: translateX(0%) translateY(-50%);
			-moz-transform: translateX(0%) translateY(-50%);
			-ms-transform: translateX(0%) translateY(-50%);
			transform: translateX(0%) translateY(-50%);
		&:hover:after,
		&:focus:after
			width: 100%;
			opacity: 1;
		&:active:after
			width: 120%;
			opacity: 1;
	h4
		talign center
		margin 0.3em 0 0.7em
		img
			max-width 80%
			margin 0 auto
			height auto
	.menu
		border-top 2px solid grisMedio
		a,
		button,
		span
			block()
			padding 0.3em 0 0.3em 1.5rem
			width 100%
			talign left
		a,
		button
			font-size 1.125rem
		li
			border-bottom 1px solid #CCCCCC
			&:last-child
				border-bottom none
			&.actual
				border-left 5px solid elColor
				bg #E6E6E6
				padding-left 0
				button
					padding-left unquote(' calc( 1.5rem - 5px ) ');
					border-top 1px solid #CCCCCC
			&.inicio
				border-bottom 5px solid #CCCCCC
			&.paginas
				border-top 5px solid #CCCCCC
		span
			color grisMedio
			font-size 1rem

#navegacion
	absolute()
	height 100%
	right 0
	// right -315px
	top 0
	// width 315px
	width 0px
	z-index 101
	// display none
	display block
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&.visible
		// right 0
		width 315px
		#menu
			block()

/* <---------- Classes ----------> */

.audio
	display flex
	display -webkit-flex
	-webkit-flex-direction: column;
	flex-direction:column;
	align-self center
	-webkit-align-self center
	width 100%
	audio
		margin 0 auto
		width 90vw

.audio--imagen
	display flex
	display -webkit-flex
	height 90vh
	width 100%
	img
		margin 0 auto
		align-self center
		-webkit-align-self center
		height 60%

.audios__ocultos
	hide()

.btn__descargar,
.btn__guardar
	bg azul_uno
	block()
	color azul_tres
	font 1.5rem cooper_bold
	padding 0.4rem 0
	round 0.2rem
	sombra azul_tres 0px 3px 0px 3px
	talign center
	text-transform uppercase
	&:hover
		bg azul_tres
		color blanco
		sombra azul_uno 0px 3px 0px 3px
		text-decoration none
	
.btn__descargar
	bottom 3rem
	position absolute
	right 11%
	width 20%
	z-index 4

.btn__guardar
	margin 1rem auto
	width 90%

.canvas__mirror
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%; 
	z-index 0

.contenedor
	position absolute
	left 0
	top 0
	display flex
	display -webkit-flex
	width: 100%;

.evaluacion--encabezado
	padding 1rem 2rem
	h3
		font 1.8rem cooper_bold

.evaluacion__ordenar
	flex 1
	-webkit-flex 1
	display flex
	display -webkit-flex
	overflow hidden
	// flex-wrap: wrap
	// -webkit-flex-wrap: wrap
	// flex-direction column
	// -webkit-flex-direction column
	justify-content space-around
	-webkit-justify-content space-around
	align-items stretch
	-webkit-align-items stretch

.evaluacion--palomita
	bg url(../assets/imgs/palomita.png) no-repeat center center rgba(32, 117, 173, 0.3)
	background-size auto 40%
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index -1
	opacity 0
	-webkit-transition: all 0.45s ease;
	-moz-transition: all 0.45s ease;
	transition: all 0.45s ease;
	-webkit-transform-origin center center
	transform-origin center center
	&.visible
		z-index 1
		opacity 1

.eval--obj
	width 25vw
	height 100%
	display flex
	display -webkit-flex
	flex-direction column
	-webkit-flex-direction column
	-webkit-align-items stretch
	align-items stretch
	overflow hidden
	img
		display block
		height auto !important
		max-width 90% !important
		width 90% !important

.eval--numero
	display block
	// height 10%
	talign center
	margin 3% auto 10%
	bg grisMedio
	color blanco
	padding 0.5rem 1rem
	font 1.4rem cooper_bold
	round 50%

.eval__obj--texto
	bg rgba(0,0,0,0.1)
	color azul_tres
	font 1.5rem cooper_bold
	margin 0 auto
	padding 2rem 0.5rem
	talign left
	width 90%
	flex 1
	-webkit-flex 1

.input--nombre
	bg grisMedio
	block()
	border azul_tres 2px solid
	color blanco
	font 1.5rem cooper_bold
	margin 3rem auto
	padding 1rem
	round 0.1rem
	width 90%

// icomoons

.int-cancel:before
	content: "\e606";
.int-unfold-less:before
	content: "\e607";
.int-arrow-right-thick:before
	content: "\e608";

.btn-menu
	bg casiblanco
	-webkit-border-top-left-radius: 2rem;
	-webkit-border-bottom-left-radius: 2rem;
	-moz-border-radius-topleft: 2rem;
	-moz-border-radius-bottomleft: 2rem;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	absolute()
	cursor: pointer;
	block()
	padding: 1rem 0.5rem 1rem 0.7rem;
	position: relative;
	-webkit-transition: all duration ease;
	transition: all duration ease;
	user-select: none;
	left 0
	top 45px
	z-index 21
	transform translate(-100%, -100%)
	-ms-transform: translate(-100%, -100%)
	-webkit-transform translate(-100%, -100%)
	&.internas
		top 2%
		transform translate(-100%, 0)
		-ms-transform: translate(-100%, 0)
		-webkit-transform translate(-100%, 0)
	.navicon:before,
	.navicon:after
		-webkit-transition: duration;
		transition: duration;
	&:hover
		-webkit-transition: duration;
		transition: duration;
		.navicon
			bg rgba(0,0,0,0.7)
			&:before,
			&:after
				bg rgba(0,0,0,0.7)
				-webkit-transition: duration;
				transition: duration;
			&:before
				top: .73rem;
			&:after
				top: -.73rem;

.mapa__original
	bg url(../assets/imgs/mapa_original.jpg) casiblanco no-repeat center center
	background-size contain
	height 100%
	left 0
	margin 0 auto
	position absolute
	top 0
	width 100%
	z-index 5

.media--control
	display none
	bg azul_uno
	height 90%
	left 0
	opacity 0
	position absolute
	top 0
	width 80%
	z-index 2

.navicon
	background: negro;
	border-radius: 2.5rem;
	height: .3rem;
	position: relative;
	-webkit-transition: duration;
	transition: duration;
	width: 1.5em;
	&:before,
	&:after
		background: negro;
		border-radius: 1rem;
		content: "";
		display: block;
		height: .3rem;
		position: absolute;
		-webkit-transition: duration duration;
		transition: duration duration;
		width: 1.5rem;
		z-index: -1;
	&:before
		top: .6rem;
	&:after
		top: -.6rem;

.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after
	top: 0 !important;

.open .navicon:before,
.open .navicon:after
	-webkit-transition: duration;
	transition: duration;

.open.x
	sombra rgba(0,0,0,0.6) 0px 0px 9px
	.navicon
		background: transparent;
		&:before
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		&:after
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);

.orden_respuesta
	margin 0 1rem 0 0

.resultados-estadisticas
	width 100vw

.respuestas
	box()
	display -webkit-flex
	display flex
	flex-direction column
	-webkit-flex-direction column
	// width 25%
	height 350px
	&:before
		order 0
		block()
		color #666
		content attr(data-orden)
		font 1.3rem cooper_bold
		margin 0.4rem 0 0 0.4rem 
		talign left
	&:nth-child(1)
		width 30%
	&:nth-child(2)
		width 27%
	&:nth-child(3)
		width 23%
	&:nth-child(4)
		width 20%

.respuesta
	box()
	display -webkit-flex
	display flex
	border-left 1px blanco solid 
	border-right 1px blanco solid 
	&:before
		block()
		color blanco
		content attr(data-respuesta)
		font 1rem cooper
		margin 0.4rem 0 0 0.4rem 
		talign left
	&:nth-child(1)
		bg #005186
	&:nth-child(2)
		bg #2273A5
	&:nth-child(3)
		bg #5E9BC1
	&:nth-child(4)
		bg #A0C3D8

.resultado
	width 100%
	margin 0 0 3rem 0

.resultado--encabezado
	h2
		font 2.1rem cooper_bold

.resultado--contenido
	display -webkit-flex
	display flex
	-webkit-flex-wrap: nowrap
	flex-wrap: nowrap;
	font-size 1rem 
	margin-top 1rem
	h3
		font 1.4rem cooper_bold

.resultados
	height auto !important
	overflow auto !important
	flex-direction column
	-webkit-flex-direction column
	-webkit-justify-content: space-between;
	justify-content: space-between;

.resultados--encabezado
	margin-bottom 3rem
	h1
		font 3rem cooper_bold
		margin-bottom 0
	h3
		font 1.4rem cooper
		italic()

.saber
.simulador
	display flex
	display -webkit-flex
	flex-direction column
	-webkit-flex-direction column
	position relative
	width 100vw

.saber--escena
	display flex
	-webkit-display flex
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height 90vh
	width 100vw
	bg rgba(0,0,0,0.8)

.saber--escala
	display flex
	display -webkit-flex
	height 10vh
	width 100%
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;

.saber--fuente
	box()
	background-position center top
	border 5px solid casiblanco
	cursor pointer
	display flex
	display -webkit-flex
	height 25%
	overflow hidden
	position relative
	width 100%
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-transform-origin center center
	transform-origin center center
	&:before
		align-self flex-end
		-webkit-align-self flex-end
		color casiblanco
		content attr(data-nombre)
		display block
		font 3rem cooper_bold
		margin 0 auto
		talign center
		relative()
		z-index 2
	&:after
		content ''
		display block
		height 100%
		left 0
		position absolute
		top 0
		width 100%
	&.maximizar,
	&.minimizar
		border none !important
	&.maximizar
		background-position center center
		height 100%
		width 100%
	&.minimizar
		height 0
		width 0
		&:before
			display none !important
	&.desactivado
		border 5px solid grisMedio
		opacity 0.6
		&:after
			bg rgba(0,0,0,0.6)
		&:before
			color grisMedio
	&[data-fuente="1"]
		bg url(../assets/imgs/pieza_16__2.jpg) no-repeat
	&[data-fuente="2"]
		bg url(../assets/imgs/pieza_16__3.jpg) no-repeat
	&[data-fuente="3"]
		bg url(../assets/imgs/pieza_16__4.jpg) no-repeat
	&[data-fuente="4"]
		bg url(../assets/imgs/pieza_16__5.jpg) no-repeat

.saber--intro,
.saber--salida
	height 100vh
	width 100%

.saber--intro
	bg url(../assets/imgs/pieza_16__1.jpg) no-repeat center center

.saber--salida
	bg url(../assets/imgs/pieza_16__6.jpg) no-repeat center center

.saber--fuente,
.saber--intro,
.saber--salida
	background-size cover !important

.saber--nivel
	height 100%
	width auto
	flex: 1 1 0%;
	-webkit-flex 1 1 0%
	display flex
	display -webkit-flex
	&.consultado
		sombra rgba(255,255,255, 1) 0px 0px 0px 7px inset
		&:after
			content '✓'
			align-self center
			-webkit-align-self center
			color blanco
			display block
			font-size 3.5rem
			height: 25px;
			inter 0.4
			margin 0 auto
			padding 0 !important
	&:nth-child(1)
		background #9EB759
	&:nth-child(2)
		background #6DA885
	&:nth-child(3)
		background #3D98B2
	&:nth-child(4)
		background mitigacion

.seccion
	height 100vh
	width 100vw
	position absolute
	left 0
	display none
	&.actual
		z-index 9
		display flex
		display -webkit-flex

.seccion__evaluacion
	flex-direction column
	-webkit-flex-direction column
	position relative
	width 100%

.seccion__imagen
	figure
		margin 0 auto
		align-self center
		-webkit-align-self center
		height 80%
		width 100%
		talign center
		img
			width auto
			height 100%
			max-width 90vw
			margin 0 auto

.seccion--logo
	margin 0 auto
	align-self center
	-webkit-align-self center
	width 75%
	img
		width 100%
		height auto

.seccion__mapa
	position relative

.simulador--arbol
	absolute()
	&[data-arbol="1"]
		background url(../assets/simulador/simulador--arbolito__00.png) no-repeat center center
		background-size auto auto
		left 21%
		top 18%
		height 240px
		width 137px
		-webkit-transform:scale(.75)
		-moz-transform:scale(.75)
		transform:scale(.75)
	&[data-arbol="2"]
		background url(../assets/simulador/simulador--arbolito__01.png) no-repeat center center
		background-size auto auto
		right 20%
		top -50px
		height 160px
		width 41px
		transform-origin right top
		webkit-transform-origin right top
		-webkit-transform:scale(.75)
		-moz-transform:scale(.75)
		transform:scale(.75)
	&[data-arbol="3"]
		background url(../assets/simulador/simulador--arbolito__02.png) no-repeat center center
		background-size auto auto
		right 21%
		top -40px
		height 208px
		width 264px
		transform-origin right top
		webkit-transform-origin right top
		-webkit-transform:scale(.75)
		-moz-transform:scale(.75)
		transform:scale(.75)
	&[data-arbol="4"]
		background url(../assets/simulador/simulador--arbolito__03.png) no-repeat center center
		background-size auto auto
		left 28%
		top 20%
		height 373px
		width 163px
		transform-origin top left
		webkit-transform-origin top left
		-webkit-transform:scale(.6)
		-moz-transform:scale(.6)
		transform:scale(.6)
	&[data-arbol="5"]
		background url(../assets/simulador/simulador--arbolito__04.png) no-repeat center center
		background-size auto auto
		right 34%
		top 2.5%
		height 224px
		width 133px
		transform-origin top right
		webkit-transform-origin top right
		-webkit-transform:scale(.6)
		-moz-transform:scale(.6)
		transform:scale(.6)
	&[data-arbol="6"]
		background url(../assets/simulador/simulador--arbolito__05.png) no-repeat center center
		background-size auto auto
		left 10%
		height 201px
		top 22%
		width 119px
		transform-origin top left
		webkit-transform-origin top left
		-webkit-transform:scale(.8)
		-moz-transform:scale(.8)
		transform:scale(.8)
	&[data-arbol="7"]
		background url(../assets/simulador/simulador--arbolito__06.png) no-repeat center center
		background-size auto auto
		right 21%
		top 0px
		height 133px
		width 325px
		transform-origin right top
		webkit-transform-origin right top
		-webkit-transform:scale(.55)
		-moz-transform:scale(.55)
		transform:scale(.55)
	&[data-arbol="8"]
		background url(../assets/simulador/simulador--arbolito__07.png) no-repeat center center
		background-size auto auto
		height 133px
		width 50px
		right 30%
		top 0px
		transform-origin right top
		webkit-transform-origin right top
		-webkit-transform:scale(.75)
		-moz-transform:scale(.75)
		transform:scale(.75)

.simulador--controles
	absolute()
	top 0.3rem
	left 0.3rem
	width 300px
	z-index 2
	.simulador--control__neg,
	.simulador--control__pos
		block()
		bg blanco
		font 1.625rem cooper_bold
		margin-bottom 0.1rem
		padding 0.3rem
		talign left
		width 100%
	.simulador--control__neg
		border 1px solid vulnerabilidad
		color vulnerabilidad
		&:hover
			color blanco
			bg vulnerabilidad
	.simulador--control__pos
		border 1px solid mitigacion
		color mitigacion
		&:hover
			color blanco
			bg mitigacion

.simulador--deslizamiento
	absolute()
	width 100%
	left 0
	top 0
	hide()
	z-index 10
	&.visible
		block()

.simulador--escena
	bg url(../assets/simulador/simulador--fondo.png) no-repeat center center
	background-size cover
	// height 86%
	height 86vh
	display block
	relative()
	width 100%

.simulador--escala,
.simulador--leyendas
	display flex
	display -webkit-flex
	// height 7%
	height 7vh
	width 100%
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;

.simulador--flecha
	&.flecha__fuerza,
	&.flecha__carga
		absolute()
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
		-webkit-transform-origin center center
		transform-origin center center
		img
			width 100%
			height auto
	&.flecha__fuerza
		left 35%
		bottom 10%
		height 100px
		width 100px
	&.flecha__carga
		right 10%
		top 8%
		height 220px
		width 220px
	&[data-tamanio="1"]
		-webkit-transform:scale(.55)
		-moz-transform:scale(.55)
		transform:scale(.55)
	&[data-tamanio="2"]
		-webkit-transform:scale(.6)
		-moz-transform:scale(.6)
		transform:scale(.6)
	&[data-tamanio="3"]
		-webkit-transform:scale(.65)
		-moz-transform:scale(.65)
		transform:scale(.65)
	&[data-tamanio="4"]
		-webkit-transform:scale(.7)
		-moz-transform:scale(.7)
		transform:scale(.7)
	&[data-tamanio="5"]
		-webkit-transform:scale(.75)
		-moz-transform:scale(.75)
		transform:scale(.75)
	&[data-tamanio="6"]
		-webkit-transform:scale(.8)
		-moz-transform:scale(.8)
		transform:scale(.8)
	&[data-tamanio="7"]
		-webkit-transform:scale(.85)
		-moz-transform:scale(.85)
		transform:scale(.85)
	&[data-tamanio="8"]
		-webkit-transform:scale(.9)
		-moz-transform:scale(.9)
		transform:scale(.9)
	&[data-tamanio="9"]
		-webkit-transform:scale(.95)
		-moz-transform:scale(.95)
		transform:scale(.95)
	&[data-tamanio="10"]
		-webkit-transform:scal
		(1);-moz-transform:scale(1)
		transform:scale(1)
	&[data-tamanio="11"]
		-webkit-transform:scale(1.025)
		-moz-transform:scale(1.025)
		transform:scale(1.025)
	&[data-tamanio="12"]
		-webkit-transform:scale(1.05)
		-moz-transform:scale(1.05)
		transform:scale(1.05)
	&[data-tamanio="13"]
		-webkit-transform:scale(1.075)
		-moz-transform:scale(1.075)
		transform:scale(1.075)
	&[data-tamanio="14"]
		-webkit-transform:scale(1.1)
		-moz-transform:scale(1.1)
		transform:scale(1.1)
	&[data-tamanio="15"]
		-webkit-transform:scale(1.125)
		-moz-transform:scale(1.125)
		transform:scale(1.125)
	&[data-tamanio="16"]
		-webkit-transform:scale(1.15)
		-moz-transform:scale(1.15)
		transform:scale(1.15)
	&[data-tamanio="17"]
		-webkit-transform:scale(1.175)
		-moz-transform:scale(1.175)
		transform:scale(1.175)
	&[data-tamanio="18"]
		-webkit-transform:scale(1.2)
		-moz-transform:scale(1.2)
		transform:scale(1.2)
	&[data-tamanio="19"]
		-webkit-transform:scale(1.225)
		-moz-transform:scale(1.225)
		transform:scale(1.225)
	&[data-tamanio="20"]
		-webkit-transform:scale(1.25)
		-moz-transform:scale(1.25)
		transform:scale(1.25)
	&[data-tamanio="21"]
		-webkit-transform:scale(1.275)
		-moz-transform:scale(1.275)
		transform:scale(1.275)
	&[data-tamanio="22"]
		-webkit-transform:scale(1.3)
		-moz-transform:scale(1.3)
		transform:scale(1.3)

.simulador--leyenda
	talign center
	font 2.3rem cooper_bold
	uppercase()
	&.leyenda__menor,
	&.leyenda__mayor
		color blanco
		width 15%
	&.leyenda__menor
		background mitigacion
	&.leyenda__escala
		background casiblanco
		color el_color
		width 70%
	&.leyenda__mayor
		background amenaza

.simulador--lluvia
	absolute()
	bg url(../assets/simulador/simulador--lluvia__todo.png) rgba(0,0,0,0.4) no-repeat center center
	background-size cover
	block()
	height 100%
	left 0
	top 0
	width 100%
	z-index 1
	opacity 0
	&.llueve
		-webkit-animation: lluvia 3s linear 1;
		animation: lluvia 3s linear 1;

.simulador--nivel
	height 100%
	width auto
	flex: 1 1 0%;
	-webkit-flex 1 1 0%
	display flex
	display -webkit-flex
	&.activo
		sombra rgba(255,255,255, 1) 0px 0px 0px 7px inset, rgba(0,0,0, 0.4) 0px 0px 4px 2px
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
		transform-origin bottom center
		-webkit-transform-origin bottom center
		&:after
			content '*'
			align-self center
			-webkit-align-self center
			color blanco
			display block
			font-size 4rem
			height: 25px;
			inter 0.9
			margin 0 auto
			padding 0 !important
	&:nth-child(1)
		background mitigacion
	&:nth-child(2)
		background #3D98B2
	&:nth-child(3)
		background #6DA885
	&:nth-child(4)
		background #9EB759
	&:nth-child(5)
		background #CEC72C
	&:nth-child(6)
		background #FFD600
	&:nth-child(7)
		background #F9B247
	&:nth-child(8)
		background #F38E3F
	&:nth-child(9)
		background #ED6937
	&:nth-child(10)
		background #E7452F
	&:nth-child(11)
		background amenaza

.temporizador
	background-color fondo
	cursor pointer
	display flex
	display -webkit-flex
	height 100vh
	width 100vw
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	&.acabando
		background-color azul_uno
	&.terminado
		background-color azul_tres
		color fondo
	p
		align-self center
		-webkit-align-self center
		font 15rem cooper_bold
		margin 0 auto
		talign center

._oculto
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px
	&.focusable:active, &.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto


/* Animaciones */

@-webkit-keyframes pop
	50%
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	100%
		-webkit-transform: scale(1);
		transform: scale(1);

@keyframes pop
	50%
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	100%
		-webkit-transform: scale(1);
		transform: scale(1);

@-webkit-keyframes lluvia
	10%
		opacity 1
	25%
		opacity 0.1
	35%
		opacity 0.1
	40%
		opacity 0.9
	45%
		opacity 0.7
	50%
		opacity 1
	52%
		opacity 0
	60%
		opacity 1
	75%
		opacity 0.1
	85%
		opacity 0.1
	90%
		opacity 0.9
	95%
		opacity 0.7
	100%
		opacity 1

@keyframes lluvia
	10%
		opacity 1
	25%
		opacity 0.1
	35%
		opacity 0.1
	40%
		opacity 0.9
	45%
		opacity 0.7
	50%
		opacity 1
	52%
		opacity 0
	60%
		opacity 1
	75%
		opacity 0.1
	85%
		opacity 0.1
	90%
		opacity 0.9
	95%
		opacity 0.7
	100%
		opacity 1


// @media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5)
// 	#navegacion
// 		display block